.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-type {
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: 2.5rem;
  text-align: center;
  border: none;
  border-bottom: 2px solid white;
}
.App-type:focus {
  outline: 0;
}
.App-button {
  margin: 10px;
  font-size: 2rem;
  border: none;
  background: none;
  color: lightgreen;
}

.App-button:hover {
  cursor: pointer;
}

.App-clear {
  margin: 10px;
  font-size: 1rem;
  border: 1px solid lightgreen;
  padding: 10px;
  background: none;
  color: lightgreen;
}

.App-clear:hover {
  cursor: pointer;
  background-color: lightgreen;
  color: #222;
}
